{% include 'header.html.twig' %}
            <!-- End of Topbar -->


            <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">{{ usuario.nome }}</h5>
                        </div>
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Email: {{usuario.email }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Descricao da task</th>
                                            <th>projeto</th>
                                            <th>Data Atribuicao</th>
                                            <th>Status</th>
                                            <th>Visualizar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>nome</th>
                                            <th>Descricao da Task</th>
                                            <th>projeto</th>
                                            <th>Data Atribuicao</th>
                                            <th>Status</th>
                                            <th>Visualizar</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for atribuicao in atribuicoes %}
                                        {% if atribuicao.status.id == 2  %}
                                            <tr bgcolor="#7fffd4" >
                                        {% elseif atribuicao.status.id == 3 %}
                                            <tr bgcolor="#ffb612" >
                                        {% else %}
                                            <tr bgcolor="aqua" >
                                        {% endif %}
                                            <td>{{ atribuicao.task.id }}</td>
                                            <td>{{ atribuicao.task.nome }}</td>
                                            <td>{{ atribuicao.task.descricao }}</td>
                                            <td>{{ atribuicao.task.projeto.nome }}</td>
                                            <td>{{ atribuicao.dtAtribuicao| date("d/m/Y H:m") }}</td>
                                            <td>{{ atribuicao.status.descricao }}</td>
                                            <td>
                                                <a href="{{ path('editar_task', {'task': atribuicao.task.id}) }}" class="btn btn-success btn-circle btn-sm">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <a href="{{ path('deletar_task_atribuicao', {'atribuicao': atribuicao.id }) }}" class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                        </tr>
                                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

{% include 'footer.html.twig' %}
